<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    @if (faceSnap.location) {
        <p>Lieu : {{ faceSnap.location }}</p>
    } @else {
        <p>Lieu non spécifié</p>
    }
    <p>FaceSnap créé le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onSnap()">{{ snapButtonText }}</button>
        <span [ngStyle]="{ color : 'rgb(' + faceSnap.snaps + ', 0, 0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
</div>