.face-snap-card {
    width: 25%;
    text-align: center;
    border: solid 2px;
    padding: 10px;
    border-radius: 20px;
    background: #031540;
    color: white;
    box-shadow: 10px 15px #03154054;
    img {
        width: 100%;
    }
}